/.vscode
/31
/a.exe
/csa.docx
/helloworld.cpp
/helloworld.exe
/lab5
/lab6
/letter.txt
/Mastered Docker.docx
/Reports
/task1.cpp
/task11.cpp
/task12.cpp
/task13.cpp
/task14.cpp
/task14.exe
/task15.cpp
/task16.cpp
/task18.cpp
/task2.18.cpp
/task2.cpp
/task3.1
/task3.10.cpp
/task3.11.cpp
/task3.12
/task3.12.cpp
/task3.13.cpp
/task3.14.cpp
/task3.15.cpp
/task3.2.cpp
/task3.3.cpp
/task3.4.cpp
/task3.5.cpp
/task3.6.cpp
/task3.7.cpp
/task3.8.cpp
/task3.9.cpp
/task3.cpp
/task4.cpp
/task5.cpp
/task6.cpp
/task6.exe
/task7.cpp
/task8.cpp
/tempCodeRunnerFile.exe
/test.cpp
/test10.cpp
/test9.cpp
/~$-01 Шевченко В.Г. Лаб. робота №11.docx
/~$-01 Шевченко В.Г. Практична робота №1.docx
/~WRL3618.tmp
/лаб 4 1.docx
/ТВ-01 Шевченко В.Г. Лаб. робота №11.docx
/ТВ-01 Шевченко В.Г. Лаб. робота №5.docx
/ТВ-01 Шевченко В.Г. Лаб. робота №6.docx
/ТВ-01 Шевченко В.Г. Лаб. робота №6_1.docx
/ТВ-01 Шевченко В.Г. Лаб. робота №7.docx
/ТВ-01 Шевченко В.Г. Лаб. робота №8.docx
/ТВ-01 Шевченко В.Г. Практична  робота №1.docx
/ТВ-01 Шевченко В.Г. Практична робота №2.docx
/ТВ-01 Шевченко В.Г. Практична робота №3.docx
/Шевченко Владислав[ТВ-01]-звіт.docx